{# Context: item, article_url (absolute), published_iso, category_label, word_count #}
{%- set _body = item.deep_analysis.detailed_description if item.deep_analysis else item.summary_it -%}
{%- set _word_count = (_body.split() | length) if _body else (word_count | default(0)) -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": {{ item.title_it | tojson }},
  "description": {{ item.summary_it | tojson }},
  "articleBody": {{ _body | tojson }},
  "wordCount": {{ _word_count }},
  "datePublished": "{{ published_iso }}",
  "dateModified": "{{ published_iso }}",
  "author": {
    "@type": "Organization",
    "name": "Osservatorio SEO",
    "url": "https://osservatorioseo.pages.dev/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Osservatorio SEO",
    "url": "https://osservatorioseo.pages.dev/",
    "logo": {
      "@type": "ImageObject",
      "url": "https://osservatorioseo.pages.dev/tailwind.css",
      "width": "512",
      "height": "512"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ article_url }}"
  },
  "articleSection": {{ category_label | tojson }},
  "inLanguage": "it-IT",
  "isBasedOn": {{ item.url | tojson }},
  "speakable": {
    "@type": "SpeakableSpecification",
    "cssSelector": ["h1", "article > section.prose p"]
  }
}
</script>
