{# Context: item, article_url (absolute), published_iso (data pubblicazione
   SUL SITO, non della fonte), category_label, word_count #}
{%- set _body = item.deep_analysis.detailed_description if item.deep_analysis else item.summary_it -%}
{%- set _word_count = (_body.split() | length) if _body else (word_count | default(0)) -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": {{ item.title_it | tojson }},
  "description": {{ item.summary_it | tojson }},
  "articleBody": {{ _body | tojson }},
  "wordCount": {{ _word_count }},
  "datePublished": "{{ published_iso }}",
  "dateModified": "{{ published_iso }}",
  "image": ["{{ site_url }}/logo-512.png"],
  "author": {
    "@type": "Person",
    "@id": "{{ site_url }}/#donato-pirolo",
    "name": "Donato Pirolo",
    "jobTitle": "SEO tecnico",
    "url": "https://donatopirolo.dev/chi-sono/",
    "sameAs": [
      "https://donatopirolo.dev/",
      "https://www.linkedin.com/in/donatopirolo",
      "https://www.instagram.com/donatopirolo",
      "https://github.com/donatopirolo"
    ]
  },
  "publisher": {
    "@type": "Organization",
    "name": "Osservatorio SEO",
    "url": "{{ site_url }}/",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site_url }}/logo-512.png",
      "width": "512",
      "height": "512"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ article_url }}"
  },
  "articleSection": {{ category_label | tojson }},
  "inLanguage": "it-IT",
  "isBasedOn": {{ item.url | tojson }},
  "speakable": {
    "@type": "SpeakableSpecification",
    "cssSelector": ["h1", "article > section.prose p"]
  }
}
</script>
