<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:news="http://www.google.com/schemas/sitemap-news/0.9">
{% for entry in entries %}
  <url>
    <loc>{{ entry.loc }}</loc>
    <news:news>
      <news:publication>
        <news:name>Osservatorio SEO</news:name>
        <news:language>it</news:language>
      </news:publication>
      <news:publication_date>{{ entry.publication_date }}</news:publication_date>
      <news:title>{{ entry.title }}</news:title>
    </news:news>
  </url>
{% endfor %}
</urlset>
